/* ---------------------- header styles ------------------------- */
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-family: Verdana;
  font-size: 10pt;
  height: 100%;
}

#heading {
  position: relative;
  top: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: #71b87b;
  text-align: center;
}
#heading h1 {
  margin: 0;
  height: 30px;
  line-height: 30px;
  background-color: #64a36d;
  font-size: 16px;
}
#heading p {
  margin: 0;
  line-height: 20px;
  height: 20px;
}
