/* ------------------------ simulator specific css ------------------------*/
#viewport{
  position: relative;
  float: left;
  width: 85%;
  height: 75%;
}
#simulator_wrapper{
  width: 100%;
  height: calc(100% - 102px);
}
.center_wrapper{
  text-align: center;
}
.upload_form{
  display: inline;
}
/* so that the browser/OS generated button isn't seen */
.upload_file_overlay{
  opacity: 0;
  z-index: 2;
  max-width: 150px;
  position: absolute;
}

.right_wrapper{
  position: relative;
  text-align: right;
  width: 15%;
  float:right;
}
#sensor_list, #actuator_list, #customprop_list{
  list-style-type: none;
}
.sensor_button, .actuator_button, .customprop_button{
  background-color: red;
}
.green_sensor, .green_actuator, .green_customprop{
  background-color: green;
}

