/* ------------------------ simulator specific css ------------------------*/
#viewport{
  position: relative;
  float: left;
  width: 85%;
  height: 75%;
}

#simulator_wrapper{
  width: 100%;
  height: calc(100% - 102px);
}

/* so that the browser/OS generated button isn't seen */
.upload_file_overlay{
  opacity: 0;
  z-index: 2;
  position: absolute;
}

#sensor_list{
  list-style-type: none;
}

.center_wrapper{
  text-align: center;
}

.right_wrapper{
  position: relative;
  text-align: right;
  width: 15%;
  float:right;
}

.sensor_button{
  background-color: red;
}

.green_sensor{
  background-color: green;
}

