/* ----------------- spec editor specific css ---------------------*/
#spec_editor_wrapper{
  height: calc(100% - 50px);
  width: 100%;
  background: #E0E0E0;
}

#spec_editor_text_wrapper{
  float: left;
  width: 70%;
  height: 72%;
}

#spec_editor_text{
  height: 100%;
  width: 69%;  
  word-wrap: break-word;
  border: 1px solid gray;
}

/* so that the browser/OS generated button isn't seen */
#spec_editor_regions_upload_file{
  opacity: 0;
  z-index: 2;
  position: absolute;
  width: 140px; /* approximate width of the text overlay */
}

/* so that the browser/OS generated button isn't seen */
#spec_editor_import_spec_file{
  opacity: 0;
  z-index: 2;
  position: absolute;
  width: 140px; /* approximate width of the text overlay */
}

#spec_editor_rightside{
  float: right;
  width: 30%;
  height: 74%;
  overflow: auto;
}

.spec_editor_selectlist{
  list-style-type: none;
  width: 99%;
  height: 15%;
  overflow: auto;
  background: white;
  margin: 4px 2px;
  padding-left: 0pt;
  border: 1px solid gray;
}

.spec_editor_selectlist_li_clicked{
  background: #0000FF;
  color: white;
}

.spec_editor_buttonlist{
  padding-left: 0pt;
  margin: 2px 0px;
}

.spec_editor_buttonlist li{
  display: inline;
  list-style-type: none;
}

#spec_editor_bottom{
  height: 21%;
  bottom: -6px;
  position: relative;
  width: 100%;
  clear: both;
}

.spec_editor_bottom_radio{
  position: absolute;
  right: 100%;
  opacity: 0;
  top: 0;
}

.spec_editor_bottom_label{
  border: 2px solid;
  margin-right: -4px;
}

.spec_editor_bottom_label_clicked{
  border-bottom: 0px;
}

.spec_editor_bottom_radio:checked + .spec_editor_bottom_div{
  display: block;
}

.spec_editor_bottom_div{
  display: none;
  background-color: white;
  height: calc(100% - 19px);
  top: 2px;
  position: relative;
  border: solid 1px gray;
  overflow: auto;
}

.spec_editor_bottom_textarea{
  width:100%;
  height:100%;
}

/* CSS Dropdown Menu */

#menuh-container{
  position: relative;
  height: 26px;
}

#menuh{
  font-size: small;
  font-family: arial, helvetica, sans-serif;
  width:100%;
}
		
#menuh a{
  display:block;
  border: 1px solid #0040FF;
  white-space:nowrap;
  margin:0;
  padding: 0.3em;
}
	
#menuh a:link, #menuh a:visited, #menuh a:active{	/* menu at rest */
  color: white;
  background-color: #0040FF;		/* royal blue */
  text-decoration:none;
}
	
#menuh a:hover{						/* menu on mouse-over  */
  color: white;
  background-color: #668CFF;	/* cornflowerblue */
  text-decoration:none;
}	

#menuh ul{
  list-style:none;
  margin:0;
  padding:0;
  float:left;
  /*width:9em;	/* width of all menu boxes */
  /* NOTE: For adjustable menu boxes you can comment out the above width rule.
  However, you will have to add padding in the "#menh a" rule so that the menu boxes
  will have space on either side of the text -- try it */
}

#menuh li{
  position:relative;
  min-height: 1px;		/* Sophie Dennis contribution for IE7 */
  vertical-align: bottom;		/* Sophie Dennis contribution for IE7 */
}

#menuh ul ul{
  position:absolute;
  z-index:500;
  top:auto;
  display:none;
  padding: 1em;
  margin:-1em 0 0 -1em;
}

#menuh ul ul ul{
  top:0;
  left:100%;
}

div#menuh li:hover{
  cursor:pointer;
  z-index:100;
}

div#menuh li:hover ul ul,
div#menuh li li:hover ul ul,
div#menuh li li li:hover ul ul,
div#menuh li li li li:hover ul ul{
  display:none;
}

div#menuh li:hover ul,
div#menuh li li:hover ul,
div#menuh li li li:hover ul,
div#menuh li li li li:hover ul{
  display:block;
}

/* End CSS Drop Down Menu */