html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	font-family: Verdana;
	font-size: 10pt;
  	height: 100%;
}

#heading {
	position: relative;
	top: 0;
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
	background-color: #71b87b;
	text-align: center;
}
#heading h1 {
	margin: 0;
	height: 30px;
	line-height: 30px;
	background-color: #64a36d;
	font-size: 16px;
}
#heading p {
	margin: 0;
	line-height: 20px;
	height: 20px;
}

/* simulator specific css */
#viewport{
  position: relative;
  float: left;
  width: 75%;
  height: 75%;
}

#simulator_wrapper{
  width: 100%;
  height: 100%;
}

#sensor_list{
  list-style-type: none;
}

.center_wrapper{
  text-align: center;
}

.right_wrapper{
  position: relative;
  text-align: right;
  width: 25%;
  float:right;
}

.sensor_button{
  background-color: red;
}

.green_sensor{
  background-color: green;
}

/* spec editor specific css */
#spec_editor_wrapper{
  height: 100%;
  width: 100%;
  background: #E0E0E0;
}

#spec_editor_text_wrapper{
}

#spec_editor_text{
  max-width: 94%;
  height: 100%;
  width: 80%;  
}

#spec_editor_rightside{
  float: right;
  width: 20%;
  height: 80%;
  overflow: auto;
}

.spec_editor_selectlist{
  list-style-type: none;
  width: 100%;
  height: 20%;
  overflow: auto;
  background: white;
  margin: 4px 2px;
  padding-left: 0pt;
}

.spec_editor_buttonlist{
  padding-left: 0pt;
  margin: 2px 0px;
}

.spec_editor_buttonlist li{
  display: inline;
  list-style-type: none;
}
