<!DOCTYPE html>

<html>

<head>
	<title>Sample Car</title>
	
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
	
  	<script type="text/javascript" src="{{ url_for('static', filename='three.min.js') }}"></script>
  	<script type="text/javascript" src="{{ url_for('static', filename='physi.js') }}"></script>
  	<script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.0.min.js') }}"></script>
  	<script type="text/javascript" src="{{ url_for('static', filename='example.js') }}"></script>
	
</head>

<body>
	<div id="heading">
		<h1>Sample Car</h1>
		<p>Use the arrow keys to drive around.</p>
	</div>
	<div id="viewport"></div>
</body>

</html>