<!DOCTYPE html>

<html>

<head>
	<title>LTLMoPWeb3D Simulator</title>
</head>

<body>
  <div id="simulator_body"></div>
  <div id="viewport"></div>
</body>

<script type="text/javascript" src="static/plugins/threejs/three.min.js"></script>
<script type="text/javascript" src="static/plugins/threejs/three.trackballcontrols.js"></script>
<script type="text/javascript" src="static/plugins/threejs/threex.windowresize.js"></script>
<script type="text/javascript" src="static/plugins/physijs/physi.js"></script>
<script type="text/javascript" src="static/plugins/jquery/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="static/js/simulator/initializePhysics.js"></script>
<script type="text/javascript" src="static/build/simulator.js"></script>  

</html>