<!DOCTYPE html>

<html>

<head>
	<title>LTLMoPWeb3D Simulator</title>
	
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
	
  	<script type="text/javascript" src="{{ url_for('static', filename='three.min.js') }}"></script>
  	<script type="text/javascript" src="{{ url_for('static', filename='physi.js') }}"></script>
  	<script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.0.min.js') }}"></script>
  	<script type="text/javascript" src="{{ url_for('static', filename='simulator.js') }}"></script>
    
</head>

<body>
	<div id="heading">
		<h1>LTLMoPWeb3D Simulator</h1>
	</div>
  <div class="center_wrapper">
    <button type="button" id="get_vel_theta">Vel/Theta Button</button>
    <form enctype="multipart/form-data" id="regions_upload_form">
      <input name="file" type="file" id="regions_upload_file"/>
      <input type="button" value="Upload Regions" id="regions_upload_button"/>
    </form>
    <progress id="regions_upload_progress"></progress>
  </div>
  <div id="simulator_wrapper">
    <div class="right_wrapper">
      <button type="button" id="get_sensors">Get Sensors</button>
      <ul id="sensor_list">
      </ul>
    </div>
    <div id="viewport"></div>
  </div>
</body>

</html>