<!DOCTYPE html>

<html>

<head>
  <title>LTLMoPWeb3D Specification Editor</title>
  <link rel='stylesheet' type='text/css' href='static/css/header.css' />
  <link rel='stylesheet' type='text/css' href='static/css/specEditor.css' />
  <link rel='stylesheet' type='text/css' href='static/plugins/jquerylinedtextarea/jquery-linedtextarea.css' />
</head>

<body>
  <div id='spec_editor_body' class='spec_editor_max_height'></div>
</body>

<script type='text/javascript' src='static/plugins/jquery/jquery-2.1.0.min.js'></script>
<script type='text/javascript' src='static/plugins/jquerylinedtextarea/jquery-linedtextarea.js'></script>
<script type='text/javascript' src='static/build/bundle.js'></script>

</html>